<div class="scrollable">
    <div class="container">
        <fieldset>
            <legend>Choose Spell Compendiums</legend>
            <div id="sbi-spell-compendiums">
            {{#each compendiums.spells}}
                <div class="form-group">
                    <input type="checkbox" data-id="{{this.collection}}" {{#if this.active}}checked{{/if}} {{#if this.disabled}}disabled{{/if}}>
                    <label for="{{this.collection}}" data-tooltip="{{this.collection}}">{{this.title}}</label>
                </div>
            {{/each}}
            </div>
        </fieldset>
        <fieldset>
            <legend>Choose Item Search Compendiums</legend>
            <div id="sbi-item-compendiums">
            {{#each compendiums.items}}
                <div class="form-group">
                    <input type="checkbox" data-id="{{this.collection}}" {{#if this.active}}checked{{/if}} {{#if this.disabled}}disabled{{/if}}>
                    <label for="{{this.collection}}" data-tooltip="{{this.collection}}">{{this.title}}</label>
                </div>
            {{/each}}
            </div>
        </fieldset>
    </div>
</div>